<div class="index-container">
  <div class="main-list">
    <div class="form-filter">
      <%= render "form_filter" %>
    </div>

    <div class="text-left" id="text-result">
      <h2><%= @bodies.length %> Results on <%= Body.count %></h2>
    </div>

    <div class="cards">
      <div class="row text-center">
        <% @bodies.each do |body| %>
            <div class="col-xs-12 col-md-6">
              <%= render partial: 'shared/card', locals: { body: body } %>
            </div>
        <% end %>
      </div>
    </div>
  </div>

  <div id="map" data-markers="<%= @markers.to_json %>"></div>

</div>
