<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1><%= @body.title %></h1>
        <img class= "picture center-block" src='http://t2.gstatic.com/images?q=tbn:ANd9GcTQAyGur4I5mDxm8MOht3DJi3SRyJHIKIkHBJYAPxr_p2UlCLwc'>
      <div class="description">
        <p><%= @body.sex %></p>
        <p><%= @body.location %></p>
        <p><%= @body.description %></p>
        <p><%= @body.price_per_day %> € / day</p>
      </div>
    </div>
  </div>
</div>
