<div class="wrapper_booking">
  <div class="booking_photo">
    <%= cl_image_tag @body.photo, height: 600 %>
  </div>
  <div class="booking_content">
    <h1><%= @body.title %></h1>
    <p><%= @body.owner.first_name %> <%= @body.owner.last_name %>'s body</p>
    <p>Price: <%= @body.price_per_day %> UN credit</p>
    <p>Sex: <%= @body.sex %> </p>
    <p>Description: <%= @body.description %></p>

    <%= simple_form_for [@body, @booking] do |f| %>
      <%= f.input :date_in %>
      <%= f.input :date_out %>
      <%= f.submit "Book", class: "btn btn-danger" %>
    <% end %>
  </div>
</div>
