<input type="text" id="forbidden-dates" hidden value="<%= @body.forbidden_dates %>">
<div class="wrapper_booking">
  <div class="container flex-class">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="booking_photo">
          <%= cl_image_tag @body.photo, height: 500, width: 400 %>
        </div>
      </div>
      <div class="col-xs-6 col-md-6">
        <div class="booking_content">
          <h1><%= @body.title %></h1>
          <div class="paragraphs">
            <p>Owner: <%= @body.owner.first_name %> <%= @body.owner.last_name %></p>
            <p>Price: <%= @body.price_per_day %> UN Credits</p>
            <p>Sex: <%= @body.sex %> </p>
            <p>Description: <%= @body.description %></p>
          </div>
          <%= simple_form_for [@body, @booking] do |f| %>
            <%= f.input :date_in, as: :string, required: false, input_html: { id: "range_start", class: 'myclass'}, label: false, placeholder: "Date in" %>
            <%= f.input :date_out, as: :string, required: false, input_html: { id: "range_end", class: 'myclass' }, label: false, placeholder: "Date out" %>
            <%= f.button :submit, "Book", class: "btn btn-danger" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
