<div class="card">
  <% if booking %>
    <% if booking.status.upcase == "APPROVED" %>
      <div class="ribbon-wrapper-green"><div class="ribbon-green"><%= booking.status.upcase %></div></div>
    <% elsif booking.status.upcase == "DENIED" %>
      <div class="ribbon-wrapper-green"><div class="ribbon-green" id="red-ribbon"><%= booking.status.upcase %></div></div>
    <% else %>
      <div class="ribbon-wrapper-green"><div class="ribbon-green" id="orange-ribbon"><%= booking.status.upcase %></div></div>
    <% end %>
  <% end %>
  <% if body.photo.blank? %>
  <div class="card_content" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1524673360092-e07b7ae58845?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5c0a3c4f908f2b9289cf44eb99f23310&auto=format&fit=crop&w=2734&q=80');">
  <% else %>
  <div class="card_content" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path body.photo %>');">
  <% end %>
    <div class="card_content_container">
      <div>
        <p><%= body.price_per_day %> UNC/day</p>
      </div>
      <div class="info">
        <h3><%=  body.title %></h3>
        <p><%= body.location %></p>
      </div>
    </div>
    <% if body.user_id == current_user.id %>
      <%= link_to '', edit_body_path(body.id), class: "card-link" %>
    <% else %>
      <%= link_to '', new_body_booking_path(body.id), class: "card-link" %>
    <% end %>
  </div>
  <div class="card_footer">
    <div class="card_footer_wrapper">
      <div class="upvote">
        <% dark = body.rating %>
        <% light = 5 - dark %>
        <% dark.times do %>
          <i class="fas fa-dna dark"></i>
        <% end %>
        <% light.times do %>
          <i class="fas fa-dna light"></i>
        <% end %>
      </div>
      <% if owner %>
        <div class="delete">
          <%= link_to body_path(body.id),
          method: :delete,
          data: { confirm: "Are you sure?"} do %>
            <p> Delete this sleeve </p>
          <% end %>
        </div>
      <% else %>
        <div class="delete">
        <p>From <%= booking.date_in %> to <%= booking.date_out %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
